* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    font-size: 80px;
}

@c: #4c9bfd;

.main {
    // font-size: 1rem;
    max-width: 1920px;
    min-width: 1209px;
    margin: 0 auto;
    min-height: 15rem;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    padding: 1rem 0.25rem 0;
    box-sizing: border-box;
    display: flex;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    h4,
    h3,
    ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    /*竖着 三大块 */
    .column {
        height: 100%;
        margin-top: 0.5rem;
        flex: 3;

        .item {
            border: 1px solid transparent;
            border-image-source: url(../images/border.png);
            border-width: 0.6375rem 0.475rem 0.25rem 1.65rem;
            border-image-slice: 51 38 20 132;
            margin-bottom: 0.25rem;
            position: relative;
        }

        .inner {
            position: absolute;
            top: -0.6375rem;
            left: -1.65rem;
            right: -0.475rem;
            bottom: -0.25rem;
            padding: 0.3rem 0.3rem 0.7rem;
        }

        .line {
            display: inline-block;
            border-radius: 5px;
            width: 4px;
            height: 10px;
            background-color: #2d6af6;
            margin-right: 3px;
        }

        h3 {
            color: white;
            font-size: .25rem;
            font-weight: 400;
        }

        // 第一竖列
        &:nth-of-type(1) {

            // 数据
            .data {
                height: 1.7rem;
                box-sizing: border-box;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        flex: 1;
                        font-size: .4rem;
                        color: #fff;
                        position: relative;
                        margin-right: .4375rem;
                        margin-top: .0875rem;

                        span {
                            display: inline-block;
                            font-size: .2rem;
                            color: @c;
                            position: absolute;
                            bottom: -0.3475rem;

                            .line2 {
                                background-color: #83caa6;
                            }

                            .line4 {
                                background-color: #db4e3f;
                            }
                        }
                    }
                }
            }

            // 监控检测
            .monitor {
                height: 5.5rem;

                .mp_top {
                    height: .7rem;
                    line-height: 1rem;
                    // background-color: #83caa6;
                    color: #1950c4;
                    font-size: .3rem;
                    display: flex;
                    align-items: center;

                    div {
                        float: left;
                    }

                    .lineplus {
                        margin: 0 0.35rem;
                        width: .0675rem;
                        height: .575rem;
                        background-color: #6feeef;
                    }

                    .active {
                        color: #fff;
                    }
                }

                .mp_bottom {
                    .top {
                        height: 0.5375rem;
                        color: #68d8fe;
                        line-height: 0.5375rem;
                        background-color: rgba(255, 255, 255, 0.1);
                        font-size: 0.15rem;
                        display: flex;
                        padding: 0 .1rem;
                        box-sizing: border-box;
                        font-size: .15rem;

                        .top_one,
                        .top_three {
                            flex: 1;
                        }

                        .top_two {
                            flex: 2;
                        }
                    }

                    .ul {
                        // background-color: #db4e3f;
                        height: 4.6rem;
                        overflow: hidden;

                        ul {
                            font-size: .15rem;
                            color: #61a8ff;
                            // overflow: hidden;
                            // background-color: #db4e3f;
                            animation: move linear 10s infinite;

                            li {
                                display: flex;
                                line-height: 0.5rem;

                                span {

                                    &:nth-of-type(1),
                                    &:nth-of-type(3) {
                                        flex: 1;
                                    }

                                    &:nth-of-type(2) {
                                        flex: 2;
                                    }
                                }
                            }

                            @keyframes move {
                                0% {}

                                100% {
                                    transform: translateY(-30%);
                                }
                            }
                        }
                    }
                }

                .mp_bottomHidden {
                    display: none;
                }
            }




        }

        // 点位分布
        .stats {
            height: 3.4rem;
            font-size: .2rem;

            .context {
                display: flex;
                height: 95%;
                margin: .2rem;
                box-sizing: border-box;

                .left {
                    flex: 7;
                    background-color: #db4e3f;
                    margin-right: .3125rem;
                }

                .right {
                    flex: 3.5;
                    background-image: url(../images/rect.png);
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    padding: 0.45rem 0.3rem;
                    box-sizing: border-box;
                    color: #fff;
                    display: flex;

                    div {
                        flex: 1;
                        margin-bottom: 0.3rem;

                        .line1 {
                            background-color: #ed3f35;
                        }

                        .line2 {
                            background-color: #eacf19;
                        }
                    }

                    h4 {
                        font-size: .32rem;
                    }

                    span {
                        color: #f8ab05;
                    }

                }
            }

        }
    }

    // 第二列

    .middle {
        // background-color: antiquewhite;
        flex: 4;
        margin-left: .3rem;
        margin-right: .3rem;

        .map {
            .top {
                height: 0.6rem;
                // background-color: bisque;
                margin-top: .8rem;
                padding-left: .4rem;
                box-sizing: border-box;
                background: url(../images/shebei.png) no-repeat;
                background-size: .3rem;

            }

            .context {
                background-color: rgba(255, 255, 255, 0.05);
                height: 6.9rem;
                margin-bottom: 0.25rem;
                box-sizing: border-box;
            }
        }

        .country {
            .context {
                .left {
                    flex: 4;
                }

                .right {
                    flex: 1;
                }
            }
        }
    }

    // 第三列
    .last {

        //  <!-- 订单量统计 -->
        .day {
            height: 1.2rem;

            .inner {
                font-size: .2rem;

                .ul_one {

                    display: flex;

                    li {
                        line-height: 0.3rem;
                        text-align: center;
                        width: 1rem;
                        border-right: 0.025rem solid #00f2f1;
                        font-size: .25rem;
                        padding: 0 .12rem;
                        color: @c;

                        &:nth-of-type(1) {
                            padding-left: 0;
                        }

                        &:nth-last-of-type(1) {
                            border-right: none;
                        }
                    }

                    .active {
                        color: #fff;
                        // font-weight: 600;
                        font-size: .3rem;
                    }


                }

                .ul_data {
                    display: flex;
                    margin-top: 0.1rem;
                    padding-left: 0.24rem;

                    li {
                        flex: 1;
                        font-size: .4rem;
                        color: #fff;
                        position: relative;
                        margin-right: .4375rem;
                        margin-top: .0875rem;

                        h4 {
                            margin-bottom: 0.1rem;
                        }

                        span {
                            display: inline-block;
                            font-size: .2rem;
                            color: @c;
                            position: absolute;
                            bottom: -0.3475rem;

                            .line1 {
                                background-color: #db4e3f;
                            }

                            .line2 {
                                background-color: #eacf19;
                            }
                        }
                    }
                }
            }
        }

        /*  //   <!-- 销售额统计 --> */
        .sales {
            height: 2.4rem;

            .line_div {
                width: 0.025rem;
                background-color: #00f2f1;
                height: .3rem;
                position: absolute;
                top: .2rem;
                left: 1.9rem;
                margin-top: 0.1rem;
            }

            .span {
                font-size: .175rem;
                color: @c;
                position: absolute;
                top: .8rem;
                left: .8rem;
            }

            ul {
                position: absolute;
                top: .2rem;
                left: 2.2rem;
                display: flex;

                li {
                    font-size: .175rem;
                    border-radius: 0.0375rem;
                    color: #0bace6;
                    padding: 0.05rem 0.07rem;
                    margin: 0.03rem .15rem;
                }

                .active {
                    background-color: #4c9bfd;
                    color: #fff;
                }
            }
        }

        .fang {
            display: flex;

            .channel {
                height: 2.3rem;
                flex: 3;

                .radar {
                    background-color: #db4e3f;
                    width: 100%;
                    height: 100%;
                }
            }

            .quarter {
                margin-left: .2rem;
                flex: 2.5;


                .inner {
                    .percentage {
                        margin-top: .4rem;
                        height: .8rem;
                        text-align: center;
                        color: #fff;
                        font-size: .4375rem;
                    }


                    .percentage_data {
                        display: flex;
                        height: 1rem;
                        margin-top: 0.1rem;

                        div {
                            flex: 1;

                            h4 {
                                color: #fff;
                                font-size: .375rem;
                            }

                            span {
                                width: 1.2rem;
                                color: #4cfde2;
                                display: inline-block;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }

                            .line1 {
                                background-color: #6acca3;
                            }

                            .line2 {
                                background-color: #ed3f35;
                            }
                        }
                    }
                }
            }
        }

        .finish {
            height: 2.6rem;

            .context {
                .left {
                    flex: 8;
                }

                .right {
                    flex: 3;
                }
            }
        }
    }
}