* {
  padding: 0;
  margin: 0;
}
body {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  font-size: 80px;
}
.main {
  max-width: 1920px;
  min-width: 1209px;
  margin: 0 auto;
  min-height: 15rem;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
  padding: 1rem 0.25rem 0;
  box-sizing: border-box;
  display: flex;
  /*竖着 三大块 */
}
.main li {
  list-style: none;
}
.main a {
  text-decoration: none;
}
.main h4,
.main h3,
.main ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.main .column {
  height: 100%;
  margin-top: 0.5rem;
  flex: 3;
}
.main .column .item {
  border: 1px solid transparent;
  border-image-source: url(../images/border.png);
  border-width: 0.6375rem 0.475rem 0.25rem 1.65rem;
  border-image-slice: 51 38 20 132;
  margin-bottom: 0.25rem;
  position: relative;
}
.main .column .inner {
  position: absolute;
  top: -0.6375rem;
  left: -1.65rem;
  right: -0.475rem;
  bottom: -0.25rem;
  padding: 0.3rem 0.3rem 0.7rem;
}
.main .column .line {
  display: inline-block;
  border-radius: 5px;
  width: 4px;
  height: 10px;
  background-color: #2d6af6;
  margin-right: 3px;
}
.main .column h3 {
  color: white;
  font-size: 0.25rem;
  font-weight: 400;
}
.main .column:nth-of-type(1) .data {
  height: 1.7rem;
  box-sizing: border-box;
}
.main .column:nth-of-type(1) .data ul {
  display: flex;
  justify-content: space-between;
}
.main .column:nth-of-type(1) .data ul li {
  flex: 1;
  font-size: 0.4rem;
  color: #fff;
  position: relative;
  margin-right: 0.4375rem;
  margin-top: 0.0875rem;
}
.main .column:nth-of-type(1) .data ul li span {
  display: inline-block;
  font-size: 0.2rem;
  color: #4c9bfd;
  position: absolute;
  bottom: -0.3475rem;
}
.main .column:nth-of-type(1) .data ul li span .line2 {
  background-color: #83caa6;
}
.main .column:nth-of-type(1) .data ul li span .line4 {
  background-color: #db4e3f;
}
.main .column:nth-of-type(1) .monitor {
  height: 5.5rem;
}
.main .column:nth-of-type(1) .monitor .mp_top {
  height: 0.7rem;
  line-height: 1rem;
  color: #1950c4;
  font-size: 0.3rem;
  display: flex;
  align-items: center;
}
.main .column:nth-of-type(1) .monitor .mp_top div {
  float: left;
}
.main .column:nth-of-type(1) .monitor .mp_top .lineplus {
  margin: 0 0.35rem;
  width: 0.0675rem;
  height: 0.575rem;
  background-color: #6feeef;
}
.main .column:nth-of-type(1) .monitor .mp_top .active {
  color: #fff;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .top {
  height: 0.5375rem;
  color: #68d8fe;
  line-height: 0.5375rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 0 0.1rem;
  box-sizing: border-box;
  font-size: 0.15rem;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .top .top_one,
.main .column:nth-of-type(1) .monitor .mp_bottom .top .top_three {
  flex: 1;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .top .top_two {
  flex: 2;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul {
  height: 4.6rem;
  overflow: hidden;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul {
  font-size: 0.15rem;
  color: #61a8ff;
  animation: move linear 10s infinite;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul:hover {
  animation-play-state: paused;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul li {
  display: flex;
  line-height: 0.5rem;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul li span:nth-of-type(1),
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul li span:nth-of-type(3) {
  flex: 1;
}
.main .column:nth-of-type(1) .monitor .mp_bottom .ul ul li span:nth-of-type(2) {
  flex: 2;
}
@keyframes move {
  100% {
    transform: translateY(-30%);
  }
}
.main .column:nth-of-type(1) .monitor .mp_bottomHidden {
  display: none;
}
.main .column .stats {
  height: 3.4rem;
  font-size: 0.2rem;
}
.main .column .stats .context {
  display: flex;
  height: 95%;
  margin: 0.2rem;
  box-sizing: border-box;
}
.main .column .stats .context .left {
  flex: 8;
  margin-right: 0.3125rem;
}
.main .column .stats .context .right {
  flex: 3.5;
  background-image: url(../images/rect.png);
  background-size: cover;
  flex-direction: column;
  padding: 0.45rem 0.3rem;
  box-sizing: border-box;
  color: #fff;
  display: flex;
}
.main .column .stats .context .right div {
  flex: 1;
  margin-bottom: 0.3rem;
}
.main .column .stats .context .right div .line1 {
  background-color: #ed3f35;
}
.main .column .stats .context .right div .line2 {
  background-color: #eacf19;
}
.main .column .stats .context .right h4 {
  font-size: 0.32rem;
}
.main .column .stats .context .right span {
  color: #f8ab05;
}
.main .middle {
  flex: 4;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.main .middle .map .top {
  height: 0.6rem;
  margin-top: 0.8rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
  background: url(../images/shebei.png) no-repeat;
  background-size: 0.3rem;
}
.main .middle .map .context {
  background-color: rgba(255, 255, 255, 0.05);
  height: 6.9rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}
.main .middle .country .context .left {
  flex: 4;
}
.main .middle .country .context .right {
  flex: 1;
}
.main .last {
  /*  //   <!-- 销售额统计 --> */
}
.main .last .day {
  height: 1.2rem;
}
.main .last .day .inner {
  font-size: 0.2rem;
}
.main .last .day .inner .ul_one {
  display: flex;
}
.main .last .day .inner .ul_one li {
  line-height: 0.3rem;
  text-align: center;
  width: 1rem;
  border-right: 0.025rem solid #00f2f1;
  font-size: 0.25rem;
  padding: 0 0.12rem;
  color: #4c9bfd;
}
.main .last .day .inner .ul_one li:nth-of-type(1) {
  padding-left: 0;
}
.main .last .day .inner .ul_one li:nth-last-of-type(1) {
  border-right: none;
}
.main .last .day .inner .ul_one .active {
  color: #fff;
  font-size: 0.3rem;
}
.main .last .day .inner .ul_data {
  display: flex;
  margin-top: 0.1rem;
  padding-left: 0.24rem;
}
.main .last .day .inner .ul_data li {
  flex: 1;
  font-size: 0.4rem;
  color: #fff;
  position: relative;
  margin-right: 0.4375rem;
  margin-top: 0.0875rem;
}
.main .last .day .inner .ul_data li h4 {
  margin-bottom: 0.1rem;
}
.main .last .day .inner .ul_data li span {
  display: inline-block;
  font-size: 0.2rem;
  color: #4c9bfd;
  position: absolute;
  bottom: -0.3475rem;
}
.main .last .day .inner .ul_data li span .line1 {
  background-color: #db4e3f;
}
.main .last .day .inner .ul_data li span .line2 {
  background-color: #eacf19;
}
.main .last .day .inner .ul_dataHidden {
  display: none;
}
.main .last .sales {
  height: 2.4rem;
}
.main .last .sales .line_div {
  width: 0.025rem;
  background-color: #00f2f1;
  height: 0.3rem;
  position: absolute;
  top: 0.2rem;
  left: 1.9rem;
  margin-top: 0.1rem;
}
.main .last .sales .line_p {
  width: 85%;
  height: 68%;
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
}
.main .last .sales .span {
  font-size: 0.175rem;
  color: #4c9bfd;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}
.main .last .sales ul {
  position: absolute;
  top: 0.2rem;
  left: 2.2rem;
  display: flex;
}
.main .last .sales ul li {
  font-size: 0.175rem;
  border-radius: 0.0375rem;
  color: #0bace6;
  padding: 0.05rem 0.07rem;
  margin: 0.03rem 0.15rem;
}
.main .last .sales ul .active {
  background-color: #4c9bfd;
  color: #fff;
}
.main .last .fang {
  display: flex;
}
.main .last .fang .channel {
  height: 2.3rem;
  flex: 3;
}
.main .last .fang .channel .radar {
  background-color: #db4e3f;
  width: 100%;
  height: 100%;
}
.main .last .fang .quarter {
  margin-left: 0.2rem;
  flex: 2.5;
}
.main .last .fang .quarter .inner .percentage {
  margin-top: 0.4rem;
  height: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 0.4375rem;
}
.main .last .fang .quarter .inner .percentage_data {
  display: flex;
  height: 1rem;
  margin-top: 0.1rem;
}
.main .last .fang .quarter .inner .percentage_data div {
  flex: 1;
}
.main .last .fang .quarter .inner .percentage_data div h4 {
  color: #fff;
  font-size: 0.375rem;
}
.main .last .fang .quarter .inner .percentage_data div span {
  width: 1.2rem;
  color: #4cfde2;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main .last .fang .quarter .inner .percentage_data div .line1 {
  background-color: #6acca3;
}
.main .last .fang .quarter .inner .percentage_data div .line2 {
  background-color: #ed3f35;
}
.main .last .finish {
  height: 2.6rem;
}
.main .last .finish .context .left {
  flex: 8;
}
.main .last .finish .context .right {
  flex: 3;
}
